<form>
  <div class="ui-g">
    <div class="ui-g-12 ui-fluid">
      <h2>Cadastro</h2>
    </div>

    <div class="ui-g-2 ui-fluid">
      <label>Campo</label>
      <input pInputText/>
    </div>

    <div class="ui-g-10 ui-fluid">
      <label>Campo</label>
      <input pInputText/>
    </div>

    <div class="ui-g-4 ui-fluid">
      <label>Campo</label>
      <input pInputText/>
    </div>

    <div class="ui-g-4 ui-fluid">
      <label>Campo</label>
      <input pInputText/>
    </div>

    <div class="ui-g-4 ui-fluid">
      <label>Campo</label>
      <input pInputText/>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Campo</label>
      <input pInputText/>
    </div>
  </div>
</form>
